
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img {
    max-height: 84vh;
    max-width: 72vw;
}
#loader-wrapper {
    position: fixed;
    background-color: #1d2733;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    overflow: hidden;
}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loaded #loader {
    opacity: 0;
    transition: all 0.9s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden; /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
    transition: all 0.6s 1s ease-out;
}



.video {
    width: 100%;
    border: 1px solid black;
}
.media {
    width: 90%;
    margin: auto;
    padding: 2%;
}
.mediap {
    height: 100% !important;
}
.index {
    padding: 3%;
}
.mediaDiv {
    height: 43vh;
    display: flex;
    position: relative;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    width: 100%;
}

/* .mediaDiv:hover {
    cursor: pointer;
}
.mediaDivV:hover {
    cursor: pointer;
} */
.mediaDivV {
    height: 43vh;

    display: flex;
    position: relative;
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    width: 100%;
    padding: 3%;

}

.aPic {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    object-fit: fill !important;
}
.picInd {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#mediaContainer img,
#mediaContainer video {
    display: block;
    transition: transform 0.6s;
}
#mediaContainer:hover img,
#mediaContainer:hover video {
    transform: scale(0.98);
    transform-origin: 50% 50%;
    opacity: 1;
}

#mediaContainer:hover .overlay,
#mediaContainer:hover .overlay {
    opacity: 1;
}
#mediaContainer:hover .overlay_index,
#mediaContainer:hover .overlay_index {
    opacity: 1;
}
.mediaDivV:hover #duration {
    display: none;
}
.overlay_video{
 
    color: #f1f1f1;
    width: 100%;
    padding: 2px;
    text-align: center;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 2px;
    text-align: center;
    height: auto;
    display: flex;
}
.headOver img{
    margin: auto;
    width: 50%;
}
.overlay_index .headOver {
    width: 100%;
    margin: auto;
}
.overlay_index{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    opacity: 0;
    text-align: center;
    height: auto;
    display: flex;
    width: 100%;
    height: 100%;
}
.overlay .headOver {
    text-align: left;
    padding-left: 25px;
    padding-top: 8px;
}
.overlay .bodyOver {
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
    font-size: 15px;
}
#duration p {
    font-size: 13px;
}
#button1 {
    background-image: url(/images/iconfinder_play_alt_118620.png);
    background-repeat: no-repeat;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background-size: contain;
    background-position: center;
    opacity: 90%;
    border-radius: 2;
}
#button1 .active {
    background-color: #0077a2;
}

.myLogo {
    margin-right: auto;
    margin-bottom: 0;
    padding: 0% 8%;
}
.myLogo p {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;

    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    transition: 0.3s all ease;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
}
#header {
    width: 100%;
    position: absolute;
    height: auto;
    min-height: 70px;
    background-color: transparent;
    right: 0;
    top: 0;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    z-index: 500;
    background-color: #171717;
}
.light {
    background-color: #dfe1e3;
}
.fa {
    padding-right: 5px;
}
.form-control input {
    border-radius: 3px;
}

#duration {
    background-color: black;
    bottom: 19px;
    right: 22px;
    position: absolute;
    opacity: 0.7;
    padding: 0px 2px 0px 2px;
}
#duration p {
    letter-spacing: 1.5px;
    color: white;
    margin: auto;
}
.myLogoSvg {
    top: 51%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 70px;
    height: 42px;
}
.myMain {
    width: 100%;
    margin: auto;
    margin-top: 10%;
}

.divEditAlbum {
    width: 50%;
    padding-left: 3%;
    position: relative;
    margin: auto;
}

.divEditAlbum img {
    border-radius: 2px;
}
.divEditAl {
    padding-right: 3%;
    width: 50%;
    position: relative;
    margin: auto;
}
.heroVideo {
    width: 100%;
    height: auto;
     min-height: 786px; 
    background-color: transparent;
    position: relative;
    background: url('/images/47.png') no-repeat center top;
    background-size: cover;

}
.heroVideo img {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
}


.shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: linear-gradient(
        to right,
        #0a172e 0%,
        #0a172e 20%,
        transparent 100%
    );
}

video#bgvideo {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home-social {
    list-style: none;
    font-size: 1rem;
    line-height: 4.8rem;
    margin: 0;
    color: #fff;
    position: absolute;
    bottom: 5%;
    left: 35px;
    padding: 0%;
}

.naslov {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
}

.naslov h3 {
    color: #1D2733;
    font-weight: 500 ;
    font-size: 42px ;
}

.naslov h1 {
   font-weight: 700 ;
   font-size: 80px ;
}

hr.hr-short {
    position: relative;
    max-width: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    border: 0;
    border-top: 6px solid #134284;
    text-align: left;
}

.home-social li {
    display: inline-block;
    position: relative;
    margin-right: 0.6rem;
}
.home-social li a {
    color: white;
}
.home-social li a:hover {
    color: #134284;
}

#picAbout {
    width: 330px;
    height: 280px;
}
.footer {
    padding-top: 2px;
    background-color: #171717;
 
}
.footer-copyright {
    padding-left: 40px;
    display: flex;
    color: #FFFFFF;
    letter-spacing: 2px;
 
}
}
.footerTxt p {
    margin-top: 5px !important;
}
.insw {
    height: 100%;
}

.menu-wrap {
    position: fixed;
    top: 2%;
    right: 3%;
    z-index: 111;
}

.menu-wrap .toggler {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 112;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: relative;

    z-index: 111;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -23%);
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}
/* ADMIN DEO */
/* Show Menu Admin*/

.mwa{
    top: 5% !important;
    left: 3% !important;
}

.admin_h1{
    font-weight: bold;
    color: white;
    margin: auto;
    margin-bottom: 20px;
}
.adminMain {
    margin-top: 20px !important;
    width: 90% !important;
}
.adminNav {
    background-color: #134284;
    padding: 0px !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.hadm{
    position: relative !important;
    top: 35px !important;
    height: 100px !important;
}
table {
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 200;
    border-color: white !important;
}

table th {
    padding: 8px;
    font-weight: 200;
    
}
table .borderT {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: white !important;
    border-bottom: 1px solid;
}
table .borderTD {
    border-bottom: 1px solid;
    border-color: white !important;
}
table thead th {
    background-color: #134284;
    border: 1px solid;
    border-color: white !important;
}
.main-content1 {
    padding-top: 5%;
    height: 100%;
    margin: 20px;
}
.editAlbum {
    text-align: center;
}
.deleteAlbum {
    text-align: center;
}
/* Show Menu */


.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    width: 280px;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    visibility: hidden;
    overflow: hidden;
    align-items: right;
    justify-content: right;
    background-color: #1d2733;
    transition: 0.5s;
    height: 60%;
}

.menu-wrap .menu > div {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
    margin: auto;
    padding-top: 10px;
}
.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    padding: 1rem 1rem 1rem 0;
}
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    padding: 13px 30px 13px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.6s;
}
.menu__link::before,
.menu__link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;
    will-change: width;
    transition: width 0.1s ease-out;
    position: absolute;
    bottom: 0;
}
.menu__link::before {
    left: 50%;
    transform: translateX(-50%);
}
.menu__link::after {
    right: 50%;
    transform: translateX(50%);
}
.menu__link:hover::before,
.menu__link:hover::after {
    width: 100%;
    transition-duration: 0.2s;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
    color: #a9ced3;
    transition: 0.6s;
}
::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #353e4e;
    border-radius: 5px;
}
/*MOJ NACIN GALERIJE  */
.glavniR {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 10px;
}
#glavniAl {
    width: 70%;
    margin: auto;
}
#glavni {
    margin: auto;
    width: 90%;
}
/* .mojCol {
    width: 33.33%;
    position: relative;
    display: none;
} */

.show {
    display: flex;
}

.glry-img {
    color: inherit;
}

.tbody th,
.tbody td {
    font-weight: 300 !important;
}

.allAlimg {
    width: 100%;
    height: 35vh;
}
.allAlimg:hover {
    opacity: 0.8;
}
.allAlCol:hover .tekstPreko {
    display: block;
}
.allAlCol {
    float: left;
    width: 20%;
    border-color: #cec7ff;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    margin: 5px;
}
.allAlRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.photo-text-more {
    text-align: center;
    color: white;
}

.memd {
    width: 70%;
    margin: auto; 
    padding-top: 3%;
}
.uploadFift {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    position: relative;
    width: 100%;
}
.uploadPDiv {
    width: 60%;
    height: 100%;
    padding-right: 5%;
    border-right: solid;
    margin: 15px 0px 15px 5px;
}
.uploadPDiv2 {
    width: 38%;
    height: 100%;
    position: relative;
    padding-left: 5%;
    margin: 15px 5px 15px 0px;
}
.fas {
    padding: 7px;
}

#myBtnContainer {
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    display: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    visibility: hidden;
}
#myBtnContainer button {
    margin-right: 6px;
    color: white;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 4px 15px;
    border-radius: 50px;
    display: inline-block;
    background: #444561;
}
#myBtnContainer .active {
    background: #1e1e1e;
    border: 1px solid #1e1e1e;
    color: #c4a7a7 !important;
}

.btnEdit {
    border-color: #415b81;
    border-width: 1px;
    width: 75px;
    height: auto;
}
.btnEdit:hover {
    background-color: #627692;
}
.btnError {
    background-color: #e64545;
    border-radius: 5px;
    width: 100%;
    height: auto;
    border: none;
    color: white;
}

.btnSuccess {
    border-width: 1px !important;
    border-color: green !important;
}
.btnSuccess:hover {
    background-color: #9edf9e;
}

.btnError1 {
    border-width: 1px !important;
    border-color: red !important;
    width: 75px;
    height: auto;
}
.btnError1:hover {
    background-color: #d1b2b2;
}
.tekstPreko {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, -10%);
    color: white;
    font-size: 30px;
    display: none;
}


.card {
    color: white;
}
.about {
    margin-top: 25px !important;
}
.about1 {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}
.card-img-top {
    height: 40vh;
    object-fit: cover;
}

.dx {
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.ikonica {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 5;
}
.ikonica img {
    width: 60px;
    height: 60px;
    margin-top: -50%;
    margin-left: -50%;
}
.formaUpload {
    margin: auto;
    padding: 5%;
}
.form-group h3 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 3px;
}
.formaAddAlb {
    margin-bottom: 1rem !important;
}

.navbarMoj {
    margin-top: 40px;
    height: 60px;
    width: 100%;
}
#uploadB {
    background-color: #134284;
    border-radius: 5px;
    width: 100%;
    height: auto;
    border: none;
    color: white;
}
.editB {
    width: 100% !important;
}
.table td {
    padding: 0.75rem;
}

.back {
    background-color: transparent;
    color: white;
    padding-bottom: 20px;
}
.epb {
    padding-top: 15%;
}
input[class="up"] {
    border-radius: 5px;
    color: white;
}
.custom-file-upload {
    color: white;
}
.uploadOpcija {
    margin: auto;
    width: 60%;
}

.uploadOpcija button:active {
    background-color: #18212b;
    border: none !important;
}
.uploadOpcija button:hover {
    background-color: #18212b;
    border: none !important;
}
.uploadOpcija button {
    background-color: #134284;
    margin: auto;
    margin-bottom: 10%;
    padding: 6px;
    border: none;
    color: white;
    width: 40%;
    height: auto;
    border-radius: 2px;
}
.btnDodajMedia {
    background-color: #134284;
    color: white;
    border: none;
}
#sendMessage {
    background-color: #134284;
    border: none;
}
.fa-phone {
    margin: auto;
    color: white;
}
.brojMob {
    display: flex;
}
#piid {
    background: transparent;
    color: white;
    border: none;
}
.modal-dialog {
    transform: translate(0%, 40%);
}
.cat {
    width: 100%;
}



.paddingTop{
    padding-top: 3%;
}
.padding20{
    padding: 20px;
}
.hori_divider{
    width: 100%;
    height: 5%;
    padding-top: 4%;
}
.divider{
    height: 1px;
    width: 70%;
    margin: auto;
    background-color: #BDBDBD;
}
/* Skrol */
.scrollDiv {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 20%;
}
.scrollDiv a h6 {
    letter-spacing: 3px;
}
.scrollDiv2 {
    position: absolute;
    bottom: 10%;
    left: 12%;
    height: 100px;
}
/* srednji skrol */
.mouse {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    text-align: -webkit-center;
    bottom: 0;
}
.mouse .mouse-icon {
    display: block;
    width: 25px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    margin-bottom: 10%;
}
.smoothscroll{
color:white;
}
.smoothscroll:hover{
    color: #1d2733;
    }
.mouse .mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 6px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
}
.mouse:hover .mouse-icon {
    border-color: #fff;
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 30px;
        opacity: 0;
    }
}

/*------------------------------- 
scroll_to_top
------------------------------*/
.scrollToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    line-height: 50px;
    z-index: 9999999;
    bottom: 25px;
    display: none;
    background: #394d66;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: large;
    transition: all 0.5s linear;
    text-decoration: none;
    -webkit-box-shadow: 0 0 15px 0 rgba(54, 54, 54, 0.3);
}
a.scrollToTop:hover,
a.scrollToTop:focus {
    text-decoration: none;
    background-color: #fff;
    color: #222;
    -webkit-box-shadow: 0 0 15px 0 rgba(54, 54, 54, 0.3);
    box-shadow: 0 0 15px 0 rgba(54, 54, 54, 0.3);
}
.scrollToTop .fa {
position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-35%, -50%);
}
.textUvod{
    display: none;
}
.jumbotron{
    margin: 1rem;
}
.section-1{
    min-height: 786px;
}
.section-2{
    background-color: #1D2733;
}
.section-3{
    background-color: #171717;

}
.section-4{
    background-color: #1D2733;

}
.ourLate{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important ;
}
.gallery_slika{
    margin: auto;
    width: 40%;
}
.gallery_naslov{
    margin: auto;
    width: 50%;
}
.album_cover{
    width: 100%;
    object-fit: cover;

}
.alDesc{
    display: flex;
    flex-flow: wrap;
    margin-top: 4%;
}


#bm{
    background-color:black;
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
.pr10{
    padding-right: 10px !important;
}
.showMore a img {
    width: 70px;
    height: 60px;

}
.showMore{
    width: 10%;
    margin: auto;
}
.google-visualization-table-table{
	color:black;
}
